.panel-height-helper {
  display: block;
  height: 100%;
}

.dashboardWrapper {
  background-color: @gray-7;
}

// Disable grid interaction indicators in fullscreen panels

.panel-header {
  &:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: @dark-4;
  }
}

.panel-title-container {
  min-height: 9px;
  cursor: move;
  word-wrap: break-word;
  display: block;
}

.panel-title {
  border: 0px;
  font-weight: @font-weight-semi-bold;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 4px 0 4px;
}

.panel-title-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 38px);
  cursor: pointer;
  font-weight: @font-weight-semi-bold;

  &:hover {
    color: @link-hover-color;
  }
}

.panel-content {
  padding: @panel-padding;
  height: calc(100% - 27px);
  position: relative;

  // Fixes scrolling on mobile devices
  overflow: auto;
}

.panel-in-fullscreen {
  .react-grid-layout {
    height: 100% !important;
  }

  .react-grid-item {
    display: none !important;
    transition-property: none !important;
  }

  .panel--fullscreen {
    display: block !important;
    position: unset !important;
    width: 100% !important;
    height: 100% !important;
    transform: translate(0px, 0px) !important;
  }

  // Disable grid interaction indicators in fullscreen panels
  .panel-header:hover {
    background-color: inherit;
  }

  .panel-title-container {
    cursor: pointer;
  }

  .react-resizable-handle {
    display: none;
  }

  // the react-grid has a height transition
  .react-grid-layout {
    transition-property: none;
  }
}
