@theme-name: light;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

@spacer: 1rem;
@spacer-x: @spacer;
@spacer-y: @spacer;
@border-width: 1px;

// Grays
// -------------------------
@black: #000;

// -------------------------
@black: #000;
@dark-1: #13161d;
@dark-2: #1e2028;
@dark-3: #303133;
@dark-4: #35373f;
@dark-5: #41444b;
@gray-1: #52545c;
@gray-2: #767980;
@gray-3: #acb6bf;
@gray-4: #c7d0d9;
@gray-5: #dde4ed;
@gray-6: #e9edf2;
@gray-7: #f7f8fa;

@white: #fff;

// Accent colors
// -------------------------
@blue: #0083b3;
@blue-light: #00a8e6;
@green: #3aa655;
@red: #d44939;
@yellow: #ff851b;
@orange: #ff7941;
@pink: #e671b8;
@purple: #9954bb;
@variable: @blue;

@link-color: @gray-1;
@link-hover-color: darken(@link-color, 20%);

// Typography
// -------------------------

@font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-base: @font-family-sans-serif;

@font-size-root: 14px;
@font-size-base: 13px;

@font-size-lg: 18px;
@font-size-md: 14px;
@font-size-sm: 12px;
@font-size-xs: 10px;

@line-height-base: 1.5;
@font-weight-semi-bold: 500;

@font-size-h1: 2rem;
@font-size-h2: 1.75rem;
@font-size-h3: 1.5rem;
@font-size-h4: 1.3rem;
@font-size-h5: 1.2rem;
@font-size-h6: 1rem;

@display1-size: 6rem;
@display2-size: 5.5rem;
@display3-size: 4.5rem;
@display4-size: 3.5rem;

@display1-weight: 400;
@display2-weight: 400;
@display3-weight: 400;
@display4-weight: 400;

@lead-font-size: 1.25rem;
@lead-font-weight: 300;

@headings-margin-bottom: (@spacer / 2);
@headings-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@headings-font-weight: 400;
@headings-line-height: 1.1;

@hr-border-width: @border-width;
@dt-font-weight: bold;

// dashboard
@panel-margin: 10px;
@dashboard-padding: @panel-margin * 2;
@panel-padding: 0px 10px 5px 10px;

// Scaffolding
// -------------------------

@body-bg: @gray-7;
@page-bg: @gray-7;
@body-color: @gray-1;
@text-color: @gray-1;
@text-color-strong: @dark-2;
@text-color-weak: @gray-2;
@text-color-faint: @gray-4;
@text-color-emphasis: @dark-5;

// Panel
// -------------------------

@panel-bg: @white;
@panel-border-color: @gray-5;
@panel-border: solid 1px @panel-border-color;
@panel-header-hover-bg: @gray-6;

// Typography
// -------------------------
@headings-color: @text-color;
@abbr-border-color: @gray-2;
@text-muted: @text-color-weak;

@hr-border-color: @dark-3;
